---
    import { SITE } from '$/config'
    import ModeLabel from './ModeLabel.svelte'
---
<footer class="footer">
    <nav class="nav">
        <div>Copyright &copy; 2023 | All rights reserved.</a>
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t
    }
</style>
